/HRMModule/nbproject/private/
/EJBClient/nbproject/private/
/EJBClient/build/
/test/nbproject/private/
/test/build/
/HRMModule/build/
/EJBClient/dist/
/HRMModule/dist/
/HRMModuel/nbproject/private/
/HRMModuel/build/
/HRMEJBModule/nbproject/private/
/HRMEJBModule/build/
/HRMClassLibrary/nbproject/private/
/HRMClassLibrary/build/
/HRMClassLibrary/dist/
/HRMApp/nbproject/private/
/HRMApp/HRMApp-war/nbproject/private/
/HRMApp/HRMApp-ejb/nbproject/private/
/HRMApp/HRMApp-ejb/build/
/HRMApp/HRMApp-war/build/
/HRMApp/HRMApp-ejb/dist/
/HRMApp/HRMApp-war/dist/
/HRMApp/build/
/HRMWebApp/build/
HRMApp/HRMApp-ejb/src/java/EmailReport/EmailInfo.java
