/HRMModule/nbproject/private/
/EJBClient/nbproject/private/
/EJBClient/build/
/test/nbproject/private/
/test/build/
/HRMModule/build/
/EJBClient/dist/
/HRMModule/dist/
/HRMModuel/nbproject/private/
/HRMModuel/build/
/HRMEJBModule/nbproject/private/
/HRMEJBModule/build/
/HRMClassLibrary/nbproject/private/